{% extends 'main.html' %}
{% load static %}

{% block content %}
<!-- popup register -->

<!-- Get In Touch With Us Area -->
<section class="get_touch_area" style="padding-top: 120px;">
    <div class="row" style="justify-content: center;">
        
        <div class="col-lg-6 " >
            <div class="row" style="justify-content: center;"><b>Change Password</b></div>
            <div class="from_area">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
                <form class="from_main" action="{% url 'reset_password' %}" method="POST" id="loginForm">
                    {% csrf_token %}

                    {{ form.as_p}}
                    
                    <div class="form-group m-0 btn_g">
                        <button class="theme_btn btn" type="submit" id="loginButton">Change Password</button>
                    </div>
                </form>
        </div>

        
    </div>
</section>
<!-- Get In Touch With Us Area -->
<script>
    // Add an event listener to the form submission
    document.addEventListener('DOMContentLoaded', function () {
        const loginButton = document.getElementById('loginButton');
        const form = loginButton.closest('form'); // Find the closest form element

        if (form) {
            form.addEventListener('submit', function () {
                // Disable the button
                loginButton.disabled = true;

                // Update the button text
                loginButton.textContent = "password update in progress...";
            });
        }
    });
</script>
<script>
    function togglePassword(){
        const passwordField = document.getElementById('password');
        const showPassword = document.getElementById('show-password')
        passwordField.type=showPassword.checked? 'text': 'password';
    }
</script>

{% endblock %}



