<div class="offcanvas-body flex-column">
    <!-- Categories -->
    <div class="shop-attributes-box">
        <div class="shop-sidebar-title"><a class="h5" data-bs-toggle="collapse" href="#shop_categories" role="button" aria-expanded="true" aria-controls="shop_categories">Categories <i class="bi bi-chevron-up"></i></a></div>
        <div class="shop-categories-list collapse show"
            id="shop_categories">
            <div class="shop-attr-body">
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link active">All Products</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Men <span>(25)</span></a> <a data-bs-toggle="collapse" href="#shop_cat_1" role="button" aria-expanded="false" aria-controls="shop_cat_1" class="s-icon"></a>
                        <div class="collapse"
                            id="shop_cat_1">
                            <ul class="nav nav-pills flex-column nav-hierarchy">
                                <li class="nav-item"><a href="#" class="nav-link">Topwear</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Bottomwear</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Footwear</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Sports &amp; Active Wear</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Women <span>(40)</span></a> <a data-bs-toggle="collapse" href="#shop_cat_2" role="button" aria-expanded="false" aria-controls="shop_cat_2" class="s-icon"></a>
                        <div class="collapse"
                            id="shop_cat_2">
                            <ul class="nav nav-pills flex-column nav-hierarchy">
                                <li class="nav-item"><a href="#" class="nav-link">Indian &amp; Fusion Wear</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Western Wear</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Footwear</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Beauty &amp; Personal Care</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Kids <span>(35)</span></a> <a data-bs-toggle="collapse" href="#shop_cat_3" role="button" aria-expanded="false" aria-controls="shop_cat_3" class="s-icon"></a>
                        <div class="collapse"
                            id="shop_cat_3">
                            <ul class="nav nav-pills flex-column nav-hierarchy">
                                <li class="nav-item"><a href="#" class="nav-link">Boys Clothing</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Girls Clothing</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Boys Footwear</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Girls Footwear</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Home &amp; Living <span>(80)</span></a> <a data-bs-toggle="collapse" href="#shop_cat_4" role="button" aria-expanded="false" aria-controls="shop_cat_4" class="s-icon"></a>
                        <div class="collapse"
                            id="shop_cat_4">
                            <ul class="nav nav-pills flex-column nav-hierarchy">
                                <li class="nav-item"><a href="#" class="nav-link">Bed Linen &amp; Furnishing</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Bath</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Home Decor</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Kitchen &amp; Table</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Categories -->
    <!-- gender -->
    <div class="shop-attributes-box">
        <div class="shop-sidebar-title"><a class="h5 collapsed" data-bs-toggle="collapse" href="#shop_Gender" role="button" aria-expanded="false" aria-controls="shop_Gender">Gender <i class="bi bi-chevron-up"></i></a></div>
        <div class="shop-attributes-list collapse"
            id="shop_Gender">
            <div class="shop-attr-body">
                <ul class="list-unstyled">
                    <li class="custom-radio"><input class="custom-control-input" id="gen1" type="radio" name="Gender" checked="checked"> <label class="custom-control-label" for="gen1">Men</label></li>
                    <li class="custom-radio"><input class="custom-control-input" id="gen2" type="radio" name="Gender"> <label class="custom-control-label" for="gen2">Women</label></li>
                    <li class="custom-radio"><input class="custom-control-input" id="gen3" type="radio" name="Gender"> <label class="custom-control-label" for="gen3">Boys</label></li>
                    <li class="custom-radio"><input class="custom-control-input" id="gen4" type="radio" name="Gender"> <label class="custom-control-label" for="gen4">Girls</label></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Gender -->
    <!-- Color -->
    <div class="shop-attributes-box">
        <div class="shop-sidebar-title"><a class="h5 collapsed" data-bs-toggle="collapse" href="#shop_Color" role="button" aria-expanded="false" aria-controls="shop_Color">Color <i class="bi bi-chevron-up"></i></a></div>
        <div class="shop-attributes-list collapse"
            id="shop_Color">
            <div class="shop-attr-body">
                <ul class="list-unstyled">
                    <li class="custom-checkbox checkbox-color"><input class="custom-control-input" id="colorsidebar1" type="checkbox" checked=""> <label class="custom-control-label" style="color: #1F45FC;" for="colorsidebar1"><span class="text-body">Royal Blue</span></label></li>
                    <li
                        class="custom-checkbox checkbox-color"><input class="custom-control-input" id="colorsidebar2" type="checkbox"> <label class="custom-control-label" style="color: #FCD71E;" for="colorsidebar2"><span class="text-body">Yellow</span></label></li>
                        <li class="custom-checkbox checkbox-color"><input class="custom-control-input" id="colorsidebar3" type="checkbox"> <label class="custom-control-label" style="color: #000;" for="colorsidebar3"><span class="text-body">Black</span></label></li>
                        <li class="custom-checkbox checkbox-color"><input class="custom-control-input" id="colorsidebar4" type="checkbox"> <label class="custom-control-label" style="color: #f73636;" for="colorsidebar4"><span class="text-body">Red</span></label></li>
                        <li
                            class="custom-checkbox checkbox-color"><input class="custom-control-input" id="colorsidebar5" type="checkbox" disabled=""> <label class="custom-control-label" style="color: #17a2b8;" for="colorsidebar5"><span class="text-body">Cyan</span></label></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Color -->
    <!-- Brands -->
    <div class="shop-attributes-box">
        <div class="shop-sidebar-title"><a class="h5 collapsed" data-bs-toggle="collapse" href="#shop_brand" role="button" aria-expanded="false" aria-controls="shop_brand">Brands <i class="bi bi-chevron-up"></i></a></div>
        <div class="shop-attributes-list collapse"
            id="shop_brand">
            <div class="shop-attr-body">
                <ul class="list-unstyled">
                    <li class="custom-checkbox"><input class="custom-control-input" id="brand1" type="checkbox"> <label class="custom-control-label" for="brand1">Adidas</label></li>
                    <li class="custom-checkbox"><input class="custom-control-input" id="brand2" type="checkbox"> <label class="custom-control-label" for="brand2">Levis</label></li>
                    <li class="custom-checkbox"><input class="custom-control-input" id="brand3" type="checkbox"> <label class="custom-control-label" for="brand3">Puma</label></li>
                    <li class="custom-checkbox"><input class="custom-control-input" id="brand4" type="checkbox" disabled=""> <label class="custom-control-label" for="brand4">Roadster</label></li>
                    <li class="custom-checkbox"><input class="custom-control-input" id="brand5" type="checkbox"> <label class="custom-control-label" for="brand5">Converse</label></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Brands -->
    <!-- Brands -->
    <div class="shop-attributes-box">
        <div class="shop-sidebar-title"><a class="h5 collapsed" data-bs-toggle="collapse" href="#shop_price" role="button" aria-expanded="false" aria-controls="shop_price">Price <i class="bi bi-chevron-up"></i></a></div>
        <div class="shop-attributes-list collapse"
            id="shop_price">
            <div class="shop-attr-body">
                <ul class="list-unstyled">
                    <li class="custom-checkbox"><input class="custom-control-input" id="price1" type="checkbox"> <label class="custom-control-label" for="price1">$10.00 - $49.00</label></li>
                    <li class="custom-checkbox"><input class="custom-control-input" id="price2" type="checkbox"> <label class="custom-control-label" for="price2">$50.00 - $99.00</label></li>
                    <li class="custom-checkbox"><input class="custom-control-input" id="price3" type="checkbox"> <label class="custom-control-label" for="price3">$100.00 - $199.00</label></li>
                    <li class="custom-checkbox"><input class="custom-control-input" id="price4" type="checkbox"> <label class="custom-control-label" for="price4">$200.00 and Up</label></li>
                </ul>
                <div class="d-flex align-items-center pt-3">
                    <!-- Input --><input type="number" class="form-control form-control-sm" placeholder="$10.00" min="10">
                    <!-- Divider -->
                    <div class="text-gray-350 mx-2">‒</div>
                    <!-- Input --><input type="number" class="form-control form-control-sm" placeholder="$350.00" max="350"></div>
            </div>
        </div>
    </div>
    <!-- End Brands -->
</div>